
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

body{
    font-family: "Mulish", sans-serif;
}
*{
    margin: 0;
}

/* shared styles here  */
.span{
    color: rgb(255, 84, 0);
}
h3{
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    line-height: normal;
}
p{
    font-size: 18px;
    font-weight: normal;
    line-height: normal;
    text-align: center;
}
/* nav bar styles starts here  */
.container{
    width: 90%;
    margin: 5rem auto;
    border-radius: 1rem;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    width: 280px;
}
.logo img{
    height: 56px;
    width: 48px;
    margin-right: .5rem;
}
.nav-options{
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
}

/* banner section styles starts here  */
.explore-your-travel{
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.8) 0%, rgba(19, 19, 24, 0) 100% ), url(../Images/Group\ 13\ \(1\)\ \(1\).png) ;
    padding: 7rem 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}
.explore-container h3{
    color: white;
    font-size: 4rem;
    font-weight: 800;
}
.explore-container p{
    color: rgba(255, 255, 255, 0.938);
    font-size: 18px;
    line-height: 26px;
    width: 676px;
    padding: 1.5rem 0;
    margin: auto;
}
.travel-inputs{
    margin-top: 2rem;
    border-radius: 8px;
    background: rgb(255, 255, 255, 0.2);
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    backdrop-filter: blur(4px);
}
input, select{
    width: 175px;
    height: 50px;
    padding: 0 0.5rem;
    margin: 0 1rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
.btn-primary{
    width: 175px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 0.7rem 1.2rem;
    color: white;
    border: 1px solid rgb(255, 84, 0);
    border-radius: 8px;
    background-color: rgb(255, 84, 0);
    font-weight: 800;
}

/* popular section styles start here  */
.popular-section{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 3rem;
}
.text-content{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: center;
}
.text-content p, .text-content li{
    /* text-align: justify; */
    line-height: 24px;
    word-spacing: 5px;
    letter-spacing: 1px;
    font-size: 16px;

}
.text-content p, 
.text-content li,
.text-content h3{
    text-align: justify;
}

/* perfect place section styles starts here  */
.perfect-place-section{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 3rem;
}

/* your destination section starts here  */
.your-destination img{
    width: 100%;
    height: 300px;
    filter: brightness(70%);
}
.row-1, .row-2, .row-3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem;
    gap: 1rem;
}
.row-2{
    grid-template-columns: 0.8fr 1.5fr 0.7fr; 
}
.row-3{
    grid-template-columns: 0.75fr 1.25fr; 
}
.country-card{
    position: relative;

}
.country{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-size: 28px;
    font-weight: bold;
    transform: translate(-50%, -50%);
}